/* style.css */

:root {
  --text: #282a36;
  --bg: #f8f8f2;
  --border: #f0f0ea;
}

body {
  font-family: monospace;
  background-color: var(--bg);
  color: var(--text);
  font-size: 0.65vw;
}

html {
  margin: 5px;
  padding: 0;
  width: 99.6%;
  height: 99.1%;
  border: solid var(--border);
  border-width: 5px;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}


a {
  color: #6272a4;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f8f8f2;
    --bg: #282a36;
    --border: #44475a;
  }
}
