<!DOCTYPE HTML>

<html>
    <head>
        <title>404</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" type="text/css" href={{ themecss }}/>
        <link rel="stylesheet" type="text/css" href="/index.css/" />
    </head>
    <body>
        <script>
            var texts = [
                "We don't got dat..",
                "How did we get here?",
                "No such page chief!",
                "<a href=\"report\">Report abuse?</a>",
                "Whoops!",
                "You gotta make the link first"
            ];
            window.onload = function(){
                document.getElementById("randomText").innerHTML = texts[Math.floor(Math.random()*texts.length)];
            }
        </script>
        <center>
            <h1 style="font-size: 6vw;">404</h1>
            <h1 style="font-size: 1vw;"><span id="randomText"></span></h1>
        </center>
    </body>
</html>