<!DOCTYPE HTML>

<html>
    <head>
        <title>{{ servicename }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href={{ themecss }} />
        <link rel="stylesheet" type="text/css" href="/index.css/" />
    </head>
    <body>
        <center>
            <br>
            <h1>{{ servicename }}</h1>
            <small><a href="about">why was this site made?</a> | <a href="privacy">privacy policy</a> | <a href="report">report a url</a> | <a href="https://git.neb.cx/NebulaBC/gitshortener/">source code</a></small><br><br>
            <form method="POST" autocomplete="off">
                <input name="text">
                <input type="submit" value="Create link">
            </form>
        </center>
    </body>
</html>